@page
@model ADDnD.Pages.FeatsModel
@{
    ViewData["Title"] = "Feats";
}

<p>
    <h4>Feat Types</h4>
    <ul>
        <li>
            Major Feats: These feats have the ability to define a playstyle or build own their onw
        </li>
        <li>
            Minor Feats: These feats can refine or create a playstyle or build but only alongside other feats or character building choices
        </li>
        <li>
            Utility Feats: These feats do little to define a playstyle or build but do serve to expand and deepen the role playing options of a character
        </li>
    </ul>

    <h4>Progression</h4>
    <ul>
        <li>
            Major Feats: Can be taken whenever you gain an ASI in place of the ASI
        </li>
        <li>
            Minor Feats: One can be selected at level 4, and then every 6 levels afterwords (4, 10, 16 )
        </li>
        <li>
            Utility Feats: One ca nbe selected at level 2, and then every 5 levels afterwards (2, 8, 13, 18)
        </li>
    </ul>
</p>

 <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRydGBYBVTa8LT2cSXW80autlFLfynFxOB3tFqcSnL2tTOaf_6I4FsoHS2zn9oXfw/pubhtml?gid=865706565&amp;single=true&amp;widget=true&amp;headers=false" style="border:solid 1px #777" width="1200" height="700" frameborder="0"></iframe>

